@using Microsoft.AspNetCore.Http
@model IEnumerable<Bram___grocery_store.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@section css {
    <link href="@Url.Content("~/css/products.css")" rel="stylesheet" />
}


@if (Context.Session.GetString("userName") != null && Context.Session.GetString("userName").Equals("admin"))
{
    <p class="center">
        <a class="btn btn-success" style="width: 50%; margin-right: 25% !important; background-color: rgb(16, 124, 28) !important;"
           asp-controller="Products" asp-action="Create">הוסף מוצר חדש</a>
    </p>
}

<div class="container-md">
    <div class="row p-3">
       @foreach (var item in Model)
        {

        <div class="col-lg-2 col-md-4 col-sm-6">

            <a asp-controller="ProductCarts" asp-action="Create" asp-route-id="@item.Id" style="text-decoration: none !important;">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top" src="@item.PhotoUrl" alt="Card image cap" style="width: 100% !important;">
                    <div class="card-body">
                        <h5 class="card-title"> @item.Name </h5>
                        <p class="card-text"> ₪ @item.Price </p>
                    </div>
                    @if (Context.Session.GetString("userName") != null && Context.Session.GetString("userName").Equals("admin"))
                    {
                        <div class="row pt-3 pb-0" style="margin-top: 50%">
                            <div class="col-6 p-0">
                                <a class="btn btn-block btn-success rounded-0" style="opacity:0.6;" asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id">עריכה</a>
                            </div>
                            <div class="col-6 p-0">
                                <a class=" btn btn-block rounded-0" style=" background-color:#dc3545 !important;color:white; opacity:0.6;" asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id">מחיקה</a>
                            </div>
                        </div>
                    }

                </div>

            </a>

         </div>
        }

    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>