@model Bram___grocery_store.Models.ProductCart

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group" hidden>
        <input asp-for="ProductId" class="form-control btn-block rounded-0" onchange="calculate(value)" min="1" hidden />
        <span asp-validation-for="ProductId" hidden></span>
    </div>

    <div class="container bg-light opacity mt-5">
        <div class="row shura1 ">
            <div class="col-6 tmona text-center">
                <img class="card-img-top" src="@Html.DisplayFor(model => model.Product.PhotoUrl)" alt="Alternate Text" style="width:80%;" />
            </div>
            <div class="col-6 texti">
                <br /><br />
                <h1 class="text-center card-title pro font-weight-bold">
                    @Html.DisplayFor(model => model.Product.Name)
                </h1>
                <hr />

                <br /><br /><hr/>
                <div class="container">
                    <div class="row">
                        <div class="col-2">

                        </div>
                        <h3 class="col-3 card-text text-center">
                            <i class="fa fa-ils" aria-hidden="true"></i>₪ @Html.DisplayFor(model => model.Product.Price)
                        </h3>
                        <h3 class="col-5 card-text text-center font-weight-bold">
                            :מחיר לקילו
                        </h3>

                    </div>
                </div>
                <hr  style="margin-bottom:20%;" />
                <div class="container">
                    <div class="row">
                        <h5 class="col-4 font-weight-bold card-text text-center">
                            <i class="fa fa-ils" aria-hidden="true"></i>
                            @{
                                var finalp = 0;
                                if (Model.Amount == 1) finalp = Model.Product.Price;
                                    }
                        <label id="finalPrice">₪ @finalp.0</label>
                        </h5>
                        <h5 class="col-4 font-weight-bold card-text text-center">
                            סה''כ לתשלום
                        </h5>
                        <div class="col-2">
                            <div class="form-group">
                                <input asp-for="Amount" class="form-control card-text btn-block rounded-0" onchange="calculate(value)" min="1" />
                                <span asp-validation-for="Amount" class="card-text"></span>
                            </div>
                        </div>
                        <h4 class="col-2 font-weight-bold card-text text-center">
                            כמות
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary sal" value="הוסף לעגלה" />
        <br />
    </div>
</form>



@section Scripts {
    <script>
        function calculate(value) {
            var finalPrice = value * @Model.Product.Price;
            document.getElementById("finalPrice").innerHTML = "₪" + finalPrice.toPrecision(3)
            $('#firstPrice').hide();
        }
        var value = document.getElementById()
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
