@model IEnumerable<Bram___grocery_store.Models.ProductCart>

@{
    ViewData["Title"] = "Index";
}

@section css {
    <link href="@Url.Content("~/css/cart.css")" rel="stylesheet" />
}

<h2 class="text-center p-3 mt-3 bg-light opacity rounded-1 font-weight-bold">העגלה שלי</h2>

<p>
    <a class="btn btn-success" style="color:azure !important; background-color: rgb(16, 124, 28) !important;" asp-controller="Products" asp-action="Index">הוסף מוצר נוסף</a>
</p>

<div class="container">
    <div class="row coteret">

        <div class="col-sm align">
            <h2>סכום ביניים</h2>
        </div>
        <div class="col-sm align">
            <h2>כמות</h2>
        </div>
        <div class="col-sm align">
            <h2>מחיר</h2>
        </div>
        <div class="col-sm align">
            <h2>מוצר</h2>
        </div>
        <div class="col-sm align">
        </div>
        <div class="col-sm align">
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm align">
                <h4>@item.FinalPrice ₪</h4>
                <i class="fa fa-ils" aria-hidden="true"></i>
            </div>
            <div class="col-sm align">
                <h4>  @item.Amount</h4>
            </div>
            <div class="col-sm align">
                <h4>@item.Product.Price ₪</h4>
            </div>
            <div class="col-sm align">
                <h4> @item.Product.Name</h4>
            </div>
            <div class="col-sm align">
                <img class="img-fluid"
                     src="@item.Product.PhotoUrl" alt="Sample">
            </div>
            <div class="col-sm  align">
                <form asp-controller="ProductCarts" asp-action="Delete" asp-route-id="@item.Id" class="mb-3">
                    <input type="submit" value="הסרה" class="btn btn-danger btn-block opacity rounded-0 deletebt"> @* <img src="/pics/remove icon.png" class="imgremove">*@
                </form>
            </div>

        </div>

    }




    <div style="margin-top:8%" class="row ">
        <div class="col-sm align">
            <form asp-controller="Carts" asp-action="Details" asp-route-id="@Model.First().CartId" class="mb-3">
                <input type="submit" value="סיום קנייה" class="btn btn-success" style="width: 100%;" />
            </form>
        </div>
        <div class="col-sm align">
        </div>
        <div class="col-sm align">
        </div>
        <div class="col-sm align">
            <h4 style=" width:50% !important; margin-bottom: 10%;;font-weight: normal;">
                <script type="text/javascript">
                       (function () {
                           var finalPrice = @Model.Sum(p=>p.Amount*p.Product.Price)
                               document.write(finalPrice.toPrecision(3));

                       })();
                </script>
                <i class="fa fa-ils" aria-hidden="true"></i>
                ₪
            </h4>
        </div>
        <div class="col-sm align">
        </div>
        <div class="col-sm  align">
            <h3 direction: rtl;">סך הכל לתשלום:</h3>
        </div>

    </div>
</div>
