@model IEnumerable<Bram___grocery_store.Models.ProductCart>

@{
    ViewData["Title"] = "Index";
}

@section css {
    <link href="@Url.Content("~/css/cart.css")" rel="stylesheet" />
}

<h2 class="text-center p-3 mt-3 opacity rounded-1 font-weight-bold">העגלה שלי</h2>

<p>
    <a class="btn btn-success" style="color:azure !important; background-color: rgb(16, 124, 28) !important;" asp-controller="Products" asp-action="Index">הוסף מוצר נוסף</a>
</p>

<div class="container">
    <div class="row coteret"  style="text-align:center">

        <div class="col-sm align">
            <h2>סכום ביניים</h2>
        </div>
        <div class="col-sm align">
            <h2>כמות</h2>
        </div>
        <div class="col-sm align">
            <h2>מחיר</h2>
        </div>
        <div class="col-sm align">
            <h2>מוצר</h2>
        </div>
        <div class="col-sm align">
        </div>
        <div class="col-sm align">
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row" style="text-align:center">
            <div class="col-sm align">
                <h4>@item.FinalPrice ₪</h4>
                <i class="fa fa-ils" aria-hidden="true"></i>
            </div>
            <div class="col-sm align">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <form asp-controller="ProductCarts" asp-action="ChangeTheValueMinus" asp-route-id="@item.Id" class="mb-3">
                                <button type="submit" class="" style="border:0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle  btn-outline-danger" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"></path>
                                    </svg>
                                </button>
                            </form>
                        </div>
                        <div class="col-sm-3">
                            <h4>@item.Amount</h4>
                        </div>
                        <div class="col-sm-3">
                            <form asp-controller="ProductCarts" asp-action="ChangeTheValueAdd" asp-route-id="@item.Id" class="mb-3">
                                <button type="submit" class="" style="border:0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle  btn-outline-success" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                                    </svg>
                                </button>
                            </form>
                        </div>
                            </div>
                        </div>
                </div>
            <div class="col-sm align">
                <h4>@item.Product.Price ₪</h4>
            </div>
            <div class="col-sm align">
                <h4> @item.Product.Name</h4>
            </div>
            <div class="col-sm align">
                <img class="img-fluid"
                     src="@item.Product.PhotoUrl" alt="Sample">
            </div>
            <div class="col-sm  align">
                <form asp-controller="ProductCarts" asp-action="Delete" asp-route-id="@item.Id" class="mb-3">
                    <input type="submit" value="הסרה" class="btn btn-danger btn-block opacity rounded-0 deletebt"> @* <img src="/pics/remove icon.png" class="imgremove">*@
                </form>
            </div>

        </div>

    }

    <div style="margin-top:8% ; text-align:center" class="row ">
        <div class="col-sm align">
            <form asp-controller="Carts" asp-action="Details" asp-route-id="@Model.First().CartId" class="mb-3">
                <input type="submit" value="סיום קנייה" class="btn btn-success" style="width: 100%;" />
            </form>
        </div>
        <div class="col-sm align">
        </div>
        <div class="col-sm align">
        </div>
        <div class="col-sm align">
        </div>
        <div class="col-sm align">
            <h4 style=" width:50% !important; margin-bottom: 10%;font-weight: normal;">
                <script type="text/javascript">
                       (function () {
                           var finalPrice = @Model.Sum(p=>p.Amount*p.Product.Price)
                               document.write(finalPrice.toPrecision(3));

                       })();
                </script>
                <i class="fa fa-ils" aria-hidden="true"></i>
                ₪
            </h4>
        </div>
        <div class="col-sm  align">
            <h3 direction: rtl;">סך הכל לתשלום:</h3>
        </div>

    </div>
</div>


