@model IEnumerable<Bram___grocery_store.Models.ProductCart>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FinalPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cart.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinalPrice)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*<div class="col-4 opacity">
        <div class="bg-light opacity p-3">
            <br />
            <h1 class="font-weight-bold  text-danger text-center" style=" direction:rtl;">
                סה''כ לתשלום
            </h1>
            <hr />
            <hr />
            <h2 class="text-danger text-center" style=" direction:rtl;">
                <script type="text/javascript">
                       (function () {
                           var finalPrice = @Model.Sum(p=>p.Amount*p.Product.Price)
                               document.write(finalPrice.toPrecision(3));

                       })();
                </script>
                <i class="fa fa-ils" aria-hidden="true"></i>
            </h2>
            <br />
            <form asp-controller="Carts" asp-action="Details" asp-route-id="@Model.First().CartId" class="mb-3">
                <input type="submit" value="סיום קנייה" class="btn btn-success btn-block opacity rounded-0" />
            </form>
        </div>*@

    </div>
</div>
