@model IEnumerable<Bram___grocery_store.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h3 class="text-center p-3 mt-3 bg-light opacity rounded-1  font-weight-bold">ניהול משתמשים</h3>

<p>
    <a asp-action="Create" class="btn btn-success opacity">יצירת משתמש חדש</a>
</p>
<table class="table table-striped bg-light opacity">
    <thead>
        <tr >
            <th scope="col" class="text-right font-weight-boldt">כלי ניהול</th>
            <th scope="col" class="text-right font-weight-boldt ">סיסמה</th>
            <th scope="col" class="text-right font-weight-boldt ">אימייל</th>
            <th scope="col" class="text-right font-weight-boldt ">שם משפחה</th>
            <th scope="col" class="text-right font-weight-boldt">שם פרטי</th>
            <th scope="col" class="text-right font-weight-boldt ">שם משתמש</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-right font-weight-bold">
                <a asp-action="Edit" asp-route-id="@item.Id">עריכה</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">מחיקה</a>
            </td>

            <td class="text-right font-weight-bold">
                @item.Password
            </td>
            <td class="text-right font-weight-bold">
                @item.Email
            </td>
            <td class=" text-right font-weight-bold">
                @item.LastName
            </td>
            <td class="text-right font-weight-bold">
                @item.FirstName
            </td>
            <td class="text-right font-weight-bold">
                @item.UserName
            </td>

        </tr>
        }
    </tbody>
</table>
